<div class="side_nav">
    <a href="{% url 'title_page' %}" class=""><div class="small_logo">FSD</div></a>
    <br>
    <div class="links_list ">
        <a href="{% url 'last_vacancies' %}" class="decorate-none">
            <div class="link bottom_20px">Последние вакансии</div>
        </a>
        <a href="{% url 'skills_list' %}" class="decorate-none">
            <div class="link bottom_20px">Навыки</div>
        </a>
        <a href="{% url 'geography' %}" class="decorate-none">
            <div class="link bottom_20px">География вакансий</div>
        </a>
        <a href="{% url 'demand' %}" class="decorate-none">
            <div class="link bottom_20px">Востребованность</div>
        </a>
    </div>
</div>