<div class="side_nav">
    <div class="small_logo">FD</div>
    <br>
    <div class="links_list ">
        <a href="{% url 'last_vacancies' %}" class="decorate-none">
            <div class="link bottom_20px">Последние вакансии</div>
        </a>
        <a href="" class="decorate-none">
            <div class="link bottom_20px">Навыки</div>
        </a>
        <a href="" class="decorate-none">
            <div class="link bottom_20px">География вакансий</div>
        </a>
        <a href="" class="decorate-none">
            <div class="link bottom_20px">Востребованность</div>
        </a>
    </div>
</div>